<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/styles/global/global.css}" rel="stylesheet" />
        <link th:href="@{/styles/fragments/fragments.css}" rel="stylesheet" />
        <link th:href="@{/styles/libs/SweetAlert2.css}" rel="stylesheet" />
        <link th:href="@{/styles/account-page.css}" rel="stylesheet" />
        <title>[[${appName}]]</title>
    </head>
    <body>
        <div>account</div>
    </body>
</html>
